
#
.*/

#
a.*
a/

# Object files
*.o
*.obj
*/*.o
*/*.obj

# Libraries
*.a
*.lib
*/*.a
*/*.lib

#
*.so
*.dll
*/*.so
*/*.dll

# Executables
*.out
*.exe
*/*.exe
*/*.out

# Assembly files
*.s
*.S
*.asm
*.uvm
